<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccesLayer.Properties.Settings.YazOkuluDBConnectionString"
            connectionString="Data Source=ARPACI;Initial Catalog=YazOkuluDB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>